.buten {
    text-align: right;
    justify-content: center;
    background-color: black;
    border: none;
}

.NewAddColor {
    background-color: #289BDE;
}

.btn-bg {
    background-color: #289BDE;
}